.css{
	height: 147px;
    width: 138px;
    background-size: 138px 148px;
}
.css1{
	background-image: url(../img/css1.png);
}
.css2{
	background-image: url(../img/css2.png);
}
.css3{
	background-image: url(../img/css3.png);
}
.css4{
	background-image: url(../img/css4.png);
}
.css5{

	background-image: url(../img/css5.png);
}
.css6{
	background-image: url(../img/css6.png);
}
.css7{
	background-image: url(../img/css7.png);
}
.css8{
	background-image: url(../img/css8.png);
}
.css9{
	background-image: url(../img/css9.png);
}
