.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.ant-layout{
	height: 100%;
}
.trigger:hover {
  color: #1890ff;
}
.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.layout-input{
  position: absolute;
  left: 71%;
  top: 0px;
}
.avater{
	position: absolute;
	top: 10px;
  left: 92%;
}